<!DOCTYPE html>
<html xmls="http://www.w3.org/1999/xmhtml"
	  xmls:th="http://www.thymleaft.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Hasil Pendaftaran PNS</h1>

	
	<input type="text" th:value="${hasil_nama}"/>
	<br/>
	<a  th:text="${hasil_nama}">Label</a><br/>
	<a  th:text="${hasil_tanggal}">Label</a><br/>
	<a  th:text="${hasil_kota}">Label</a><br/>
	<a  th:text="${hasil_jk}">Label</a><br/>
	<a  th:text="${hasil_alamat}">Label</a>
</body>
</html>