<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Banyak Produk Nih</h1>
		<form action="proses_nama_produk" method=post>
		Nama : <input type="text" name="katakunci_nama">
		<button type="submit">Cari Atuh</button>
		</form>
			<table border="1">
		<tr>
			<td> Kode </td>
			<td> Nama </td>
			<td> Harga </td>
		</tr>
		<tr th:each ="produkModel:${produkModelList}">
			<td><a th:text="${produkModel.kodeProduk}"></a> </td>
			<td><a th:text="${produkModel.namaProduk}"></a> </td>
			<td><a th:text="${produkModel.hargaProduk}"></a> </td>
		</tr>
	</table>
</body>
</html>