<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Karakter</h1>
	<a th:text="${karakterModel.nama}"></a> <br/>
	<a th:text="${karakterModel.level}"></a> <br/>
	<a th:text="${karakterModel.status}"></a> <br/>
</body>
</html>