<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
  <tr>
    <th>Nomor Laptop</th>
    <th>Nama Laptop</th>
     <th>Spek Laptop</th>
  </tr>
  </tr>
  <tr th:each="laptopModel:${laptopModelList}">
    <td th:text="${laptopModel.nomorLaptop}"></td>
    <td th:text="${laptopModel.namaLaptop}"></td>
    <td th:text="${laptopModel.spekLaptop}"></td>
  </tr>
</table>

</body>
</html>