<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1> Ada Untuk Satu Laptop </h1>
nama   : <a th:text="${laptopModel.namaLaptop}"></a><br>
nomor  : <a th:text="${laptopModel.nomorLaptop}"></a><br>
Spek   : <a th:text="${laptopModel.spekLaptop}"></a><br>

</body>
</html>