<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hanya Dengan Tuntutan Itu Akan Terbukti...</h1>
	Nama	: <a th:text="${hasil_nama}"></a><br>
	Alamat	: <a th:text="${hasil_alamat}"></a><br>
	Umur    : <a th:text="${hasil_umur}"></a><br>
</body>
</html>