<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Data KaryawAaaNnn...</h1>
	nama : <a th:text="${hasil_nama}"></a>
	jabatan : <a th:text="${hasil_jabatan}"></a>
</body>
</html>