<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Ini Data Banyak</h1>

<table>
<tr>
	<td> Nomor Baju </td>
	<td> Nama Baju </td>
</tr>
<tr th:each="bajuModel:${bajuModelList}">

	<td th:text="${bajuModel.nomorBaju}"></td>
	<td th:text="${bajuModel.namaBaju}"></td>
</tr>
</table>

</body>
</html>