<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> DATA BAJU</title>
</head>
<body>
<h1> Hasil Data Baju </h1>
Nomor : <a th:text="${bajuModel.nomorBaju}"></a>
Nama  : <a th:text="${bajuModel.namaBaju}"></a>
</body>
</html>