<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1> Isian Satu Pakaian </h1>


Nomor   :  <a th:text="${pakaianModel.kodePakaian}"></a> <br/>
Nama    :  <a th:text="${pakaianModel.namaPakaian}"></a> <br/>
Harga   :  <a th:text="${pakaianModel.hargaPakaian}"></a> <br/>
Ukuran  :  <a th:text="${pakaianModel.ukuran}"></a> <br/>


</body>
</html>