<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> Hasil Dari Daftar Pribadi </title>
</head>
<body>
	<h1> Hasil Dari Daftar Pribadi </h1>

	
	<a  th:text="${hasil_nama}">Label</a><br/>
	<a  th:text="${hasil_tempat}">Label</a><br/>
	<a  th:text="${hasil_tanggal}">Label</a><br/>
	<a  th:text="${hasil_jk}">Label</a><br/>
	<a  th:text="${hasil_agama}">Label</a><br/>
	<a  th:text="${hasil_telp}">Label</a><br/>
	<a  th:text="${hasil_hp}">Label</a><br/>
	<a  th:text="${hasil_negara}">Label</a><br/>
	<a  th:text="${hasil_nik}">Label</a><br/>
	<a  th:text="${hasil_goldar}">Label</a><br/>
	<a  th:text="${hasil_jakarta}">Label</a><br/>
	<a  th:text="${hasil_anak}">Label</a><br/>
	<a  th:text="${hasil_nikah}">Label</a><br/>
	
</body>
</html>