<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cari Usia Dosen</h1>
	
	<form action="proses_cari_usia" method=post>
	Usia : 	<select name="katakunci_operator">
					<option value="="> = </option>
					<option value=">"> > </option>
					<option value="<"> -- </option>
					<option value=">="> >= </option>
					<option value="<="> -- </option>
					<option value="!="> != </option>
			</select>
			<select name="awalan_nama">
					<option value="A"> A </option>
					<option value="B"> B </option>
					<option value="C"> C </option>
					<option value="D"> D </option>
					<option value="E"> E </option>
					<option value="F"> F </option>
					<option value="G"> G </option>
					<option value="H"> H </option>
					<option value="I"> I </option>
					<option value="J"> J </option>
					<option value="K"> K </option>
					<option value="L"> L </option>
					
			</select>
		<input type="text" name="katakunci_usia">
		<button type="submit">Cari Atuh</button>
	</form>
	<br/><br/>
	<table>
		<tr>
			<th>Nama Dosen</th>
			<th>Usia</th>
		</tr>
		<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
		</tr>
	</table>
</body>
</html>