<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Banyak Restoran</h1>
	<table>
		<tr>
			<th>Nama Menu</th>
			<th>Harga</th>
		</tr>
		<tr th:each="restoranModel:${restoranModelList}">
			<td><a th:text="${restoranModel.namaMenu}"></a></td>
			<td><a th:text="${restoranModel.harga}"></a></td>
		</tr>
	</table>
</body>
</html>