<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cari Restoran</h1>
	
	<form action="proses_cari_restoran" method=post>
	Menu : 	<input type="text" name="carinama">
			<button type="submit">Cari Menu</button>
	</form>
	<br/><br/>
	<table>
		<tr>
			<th>Nama Menu</th>
			<th>Harga    </th>
		</tr>
		<tr th:each="restoranModel:${restoranModelList}">
			<td><a th:text="${restoranModel.namaMenu}"></a></td>
			<td><a th:text="${restoranModel.harga}"></a></td>
		</tr>
	</table>
</body>
</html>