<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Isinya Cuman Input Satu Menu</h1>
	<a th:text="${restoranModel.namaMenu}"></a> <br/>
	<a th:text="${restoranModel.harga}"></a> <br/>
</body>
</html>